{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Fuku Clothings">
    <meta name="keywords" content="Fuku Clothings">
    <meta name="author" content="Fuku Clothings">
    <link rel="icon" href="{% static 'images/favicon/1.png' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'images/favicon/1.png' %}" type="image/x-icon">
    <title>Fuku clothings</title>

    <!--Google font-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Yellowtail&display=swap" rel="stylesheet">

    <!-- Icons -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/vendors/font-awesome.css' %}">

    <!--Slick slider css-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/vendors/slick.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/vendors/slick-theme.css' %}">

    <!-- Animate icon -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/vendors/animate.css' %}">

    <!-- Themify icon -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/vendors/themify-icons.css' %}">

    <!-- Bootstrap css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/vendors/bootstrap.css' %}">

    <!-- Theme css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>


<body class="theme-color-1">

    <!-- header start -->
    {% include 'header.html'%}
    <!-- header end -->


    <!-- breadcrumb start -->
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="page-title">
                        <h2>dashboard</h2>
                    </div>
                </div>
                <div class="col-sm-6">
                    <nav aria-label="breadcrumb" class="theme-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">dashboard</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb End -->


    <!--  dashboard section start -->
    <section class="dashboard-section section-b-space user-dashboard-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="dashboard-sidebar">
                        <div class="profile-top">
                            <div class="profile-image">
                                <img src="{{profile.profile_picture.url}}" alt="" class="img-fluid">
                            </div>
                            <div class="profile-detail">
                                <h5>{{user.full_name | title}}</h5>
                                <h6>{{user.email}}</h6>
                            </div>
                        </div>
                        <div class="faq-tab">
                            <ul class="nav nav-tabs" id="top-tab" role="tablist">
                                <li class="nav-item"><a data-bs-toggle="tab" data-bs-target="#info"
                                        class="nav-link active">Account Info</a></li>
                                <li class="nav-item"><a data-bs-toggle="tab" data-bs-target="#orders"
                                        class="nav-link">My Orders</a></li>
                                <li class="nav-item"><a data-bs-toggle="tab" data-bs-target="#wishlist"
                                        class="nav-link">My Wishlist</a></li>
                                <li class="nav-item"><a data-bs-toggle="tab" data-bs-target="#profile"
                                        class="nav-link">Profile</a></li>
                                <li class="nav-item"><a href="{% url 'accounts:logout' %}" class="nav-link">Log Out</a> </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="faq-content tab-content" id="top-tabContent">
                        <div class="tab-pane fade show active" id="info">
                            <div class="counter-section">
                                <div class="welcome-msg">
                                    <h4>Hello, {{user.full_name | title}} !</h4>
                                    <p>From your My Account Dashboard you have the ability to view a snapshot of your
                                        recent
                                        account activity and update your account information. Select a link below to
                                        view or
                                        edit information.</p>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="counter-box">
                                            <img src="{% static 'images/icon/dashboard/sale.png' %}" class="img-fluid">
                                            <div>
                                                <h3>{{orders_count}}</h3>
                                                <h5>Total Order</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="counter-box">
                                            <img src="{% static 'images/icon/dashboard/homework.png' %}" class="img-fluid">
                                            <div>
                                                <h3>0</h3>
                                                <h5>Pending Orders</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="counter-box">
                                            <img src="{% static 'images/icon/dashboard/order.png' %}" class="img-fluid">
                                            <div>
                                                <h3>{{wishlist_count}}</h3>
                                                <h5>Wishlist</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-account box-info">
                                    <div class="box-head">
                                        <h4>Account Information</h4>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="box">
                                                <div class="box-title">
                                                    <h3>Contact Information</h3><a href="#">Edit</a>
                                                </div>
                                                <div class="box-content">
                                                    <h6>{{user.full_name | title}}</h6>
                                                    <h6>{{user.email}}</h6>
                                                    <h6><a href="{% url 'accounts:change_password' %}">Change Password</a></h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="orders">
                            <div class="row">
                                <div class="col-12">
                                    <div class="card dashboard-table mt-0">
                                        <div class="card-body table-responsive-sm">
                                            <div class="top-sec">
                                                <h3>My Orders</h3>
                                            </div>
                                            <div class="table-responsive-xl">
                                                <table class="table cart-table order-table">
                                                    <thead>
                                                        <tr class="table-head">
                                                            <th scope="col">Order Id</th>
                                                            <th scope="col">Price</th>
                                                            <th scope="col">Status</th>
                                                            <th scope="col">Date</th>
                                                            <th scope="col">View</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% if orders %}
                                                        {% for order in orders %}
                                                        <tr>
                                                            
                                                            <td>
                                                                <span class="mt-0">#{{order.order_number}}</span>
                                                            </td>
                                                            <td>
                                                                <span class="theme-color fs-6">₹{{order.order_total}}</span>
                                                            </td>
                                                            <td>
                                                                <span
                                                                    class="badge rounded-pill bg-success custom-badge">{{order.payment.status}}</span>
                                                            </td>
                                                            <td>
                                                                <span class="theme-color fs-6">{{order.order_created}}</span>
                                                            </td>
                                                            <td>
                                                                <a href='{% url "accounts:order_detail" order.order_number%}'>
                                                                    <i class="fa fa-eye text-theme"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        {% endfor %}
                                                        {% else %}
                                                        <tr>
                                                            <td colspan="5">No Orders available.</td>
                                                        </tr>
                                                    {% endif %}

                                                        {% comment %} <tr>
                                                            <td>
                                                                <a href="javascript:void(0)">
                                                                    <img src="../assets/images/pro3/2.jpg"
                                                                        class="blur-up lazyloaded" alt="">
                                                                </a>
                                                            </td>
                                                            <td>
                                                                <span class="mt-0">#125367</span>
                                                            </td>
                                                            <td>
                                                                <span class="fs-6">Sleevless white top</span>
                                                            </td>
                                                            <td>
                                                                <span
                                                                    class="badge rounded-pill bg-danger custom-badge">Pending</span>
                                                            </td>
                                                            <td>
                                                                <span class="theme-color fs-6">₹49.54</span>
                                                            </td>
                                                            <td>
                                                                <a href="javascript:void(0)">
                                                                    <i class="fa fa-eye text-theme"></i>
                                                                </a>
                                                            </td>
                                                        </tr>


                                                        <tr>
                                                            <td>
                                                                <a href="javascript:void(0)">
                                                                    <img src="../assets/images/pro3/28.jpg"
                                                                        class="blur-up lazyloaded" alt="">
                                                                </a>
                                                            </td>
                                                            <td>
                                                                <p>#127569</p>
                                                            </td>
                                                            <td>
                                                                <p class="fs-6">Candy red solid tshirt</p>
                                                            </td>
                                                            <td>
                                                                <span
                                                                    class="badge rounded-pill bg-success custom-badge">Shipped</span>
                                                            </td>
                                                            <td>
                                                                <p class="theme-color fs-6">₹49.54</p>
                                                            </td>
                                                            <td>
                                                                <a href="javascript:void(0)">
                                                                    <i class="fa fa-eye text-theme"></i>
                                                                </a>
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td>
                                                                <a href="javascript:void(0)">
                                                                    <img src="../assets/images/pro3/33.jpg"
                                                                        class="blur-up lazyloaded" alt="">
                                                                </a>
                                                            </td>
                                                            <td>
                                                                <p>#125753</p>
                                                            </td>
                                                            <td>
                                                                <p class="fs-6">multicolored polo tshirt</p>
                                                            </td>
                                                            <td>
                                                                <span
                                                                    class="badge rounded-pill bg-secondary custom-badge">Canceled</span>
                                                            </td>
                                                            <td>
                                                                <p class="theme-color fs-6">₹49.54</p>
                                                            </td>
                                                            <td>
                                                                <a href="javascript:void(0)">
                                                                    <i class="fa fa-eye text-theme"></i>
                                                                </a>
                                                            </td>
                                                        </tr> {% endcomment %}
                                                        
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="wishlist">
                            <div class="row">
                                <div class="col-12">
                                    <div class="card dashboard-table mt-0">
                                        <div class="card-body table-responsive-sm">
                                            <div class="top-sec">
                                                <h3>My Wishlist</h3>
                                            </div>
                                            <div class="table-responsive-xl">
                                                <table class="table cart-table wishlist-table">
                                                    <thead>
                                                        <tr class="table-head">
                                                            <th scope="col">image</th>
                                                            <th scope="col">Product Details</th>
                                                            <th scope="col">Price</th>
                                                            <th scope="col">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% if wishlist_items %}

                                                    {% for item in wishlist_items %}
                                                        <tr>
                                                            <td>
                                                                <a href="#">
                                                                    <img src="{{ item.product.image.url }}" class="blur-up lazyloaded" alt="{{ item.product.name }}">
                                                                </a>
                                                            </td>
                                                            <td>
                                                                <span>{{ item.product.name }}</span>
                                                            </td>
                                                            <td>
                                                                <span class="theme-color fs-6">₹{{ item.product.price }}</span>
                                                            </td>
                                                            <td>
                                                                {% comment %} <form action="{% url 'add_to_cart' item.product.id %}" method="POST">
                                                                    {% csrf_token %} {% endcomment %}
                                                                    <button type="submit" class="btn btn-xs btn-solid">Move to Cart</button>
                                                                {% comment %} </form> {% endcomment %}
                                                            </td>
                                                        </tr>
                                                        {% endfor %}
                                                        {% else %}
                                                        <tr>
                                                            <td colspan="4">No products in the wishlist.</td>
                                                        </tr>
                                                        {% endif %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="profile">
                            <div class="row">
                                <div class="col-12">
                                    <div class="card mt-0">
                                        <div class="card-body">
                                            <div class="dashboard-box">
                                                <div class="dashboard-title">
                                                    <h4>profile</h4>
                                                    <a class="edit-link" href="{% url 'accounts:edit_profile' %}">edit</a>
                                                </div>
                                                <div class="dashboard-detail">
                                                    <ul>
                                                        <li>
                                                            <div class="details">
                                                                <div class="left">
                                                                    <h6>Username</h6>
                                                                </div>
                                                                <div class="right">
                                                                    <h6> {{user.username}}</h6>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="details">
                                                                <div class="left">
                                                                    <h6>First name</h6>
                                                                </div>
                                                                <div class="right">
                                                                    <h6> {{user.first_name}}</h6>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="details">
                                                                <div class="left">
                                                                    <h6>Last name</h6>
                                                                </div>
                                                                <div class="right">
                                                                    <h6> {{user.last_name}}</h6>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="details">
                                                                <div class="left">
                                                                    <h6>email address</h6>
                                                                </div>
                                                                <div class="right">
                                                                    <h6>{{user.email}}</h6>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        
                                                        <li>
                                                            <div class="details">
                                                                <div class="left">
                                                                    <h6>Address</h6>
                                                                </div>
                                                                <div class="right">
                                                                    <h6>{{profile.address}}</h6>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="details">
                                                                <div class="left">
                                                                    <h6>city</h6>
                                                                </div>
                                                                <div class="right">
                                                                    <h6>{{profile.city}}</h6>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="details">
                                                                <div class="left">
                                                                    <h6>state</h6>
                                                                </div>
                                                                <div class="right">
                                                                    <h6>{{profile.state}}</h6>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        {% comment %} <li>
                                                            <div class="details">
                                                                <div class="left">
                                                                    <h6>zip</h6>
                                                                </div>
                                                                <div class="right">
                                                                    <h6>60515</h6>
                                                                </div>
                                                            </div>
                                                        </li> {% endcomment %}
                                                    </ul>
                                                </div>
                                                <div class="dashboard-title mt-lg-5 mt-3">
                                                    <h4>login details</h4>
                                                    
                                                </div>
                                                <div class="dashboard-detail">
                                                    <ul>
                                                        <li>
                                                            <div class="details">
                                                                <div class="left">
                                                                    <h6>Email Address</h6>
                                                                </div>
                                                                <div class="right">
                                                                    <h6>{{user.email}}</h6>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="details">
                                                                <div class="left">
                                                                    <h6>Phone No.</h6>
                                                                </div>
                                                                <div class="right">
                                                                    <h6>{{user.Phone_number}}</h6>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="details">
                                                                <div class="left">
                                                                    <h6>Password</h6>
                                                                </div>
                                                                <div class="right">
                                                                    <h6>******* <a class="edit-link" href="{% url 'accounts:change_password' %}">Edit</a>
                                                                    </h6>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--  dashboard section end -->


    <!-- Modal start -->
    <div class="modal logout-modal fade" id="logout" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Logging Out</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Do you want to log out?
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-dark btn-custom" data-bs-dismiss="modal">no</a>
                    <a href="/" class="btn btn-solid btn-custom">yes</a>
                </div>
            </div>
        </div>
    </div>
    <!-- modal end -->


    <!-- footer -->
    {% include "components/footer.html" %}
    <!-- footer end -->

   <!-- theme setting -->
   {% include "components/dark-mode.html" %}
   <!-- theme setting -->

    <!-- tap to top -->
    <div class="tap-top">
        <div>
            <i class="fa fa-angle-double-up"></i>
        </div>
    </div>
    <!-- tap to top End -->



   <!-- latest jquery-->
   <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>

   <!-- fly cart ui jquery-->
   <script src="{% static 'js/jquery-ui.min.js' %}"></script>
   
   <!-- exitintent jquery-->
   <script src="{% static 'js/jquery.exitintent.js' %}"></script>
   <script src="{% static 'js/exit.js' %}"></script>
   
   <!-- slick js-->
   <script src="{% static 'js/slick.js' %}"></script>
   
   <!-- menu js-->
   <script src="{% static 'js/menu.js' %}"></script>
   
   <!-- lazyload js-->
   <script src="{% static 'js/lazysizes.min.js' %}"></script>
   
   <!-- Bootstrap js-->
   <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
   
   <!-- Bootstrap Notification js-->
   <script src="{% static 'js/bootstrap-notify.min.js' %}"></script>
   
   <!-- Fly cart js-->
   <script src="{% static 'js/fly-cart.js' %}"></script>
   
   <!-- Theme js-->
   <script src="{% static 'js/theme-setting.js' %}"></script>
   <script src="{% static 'js/script.js' %}"></script>
   
   <script>
       $(window).on('load', function () {
           setTimeout(function () {
               $('#exampleModal').modal('show');
           }, 2500);
       });
   
       function openSearch() {
           document.getElementById("search-overlay").style.display = "block";
       }
   
       function closeSearch() {
           document.getElementById("search-overlay").style.display = "none";
       }
   </script>
   
   </body>
   
   </html>
   