{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Fuku Clothings">
    <meta name="keywords" content="Fuku Clothings">
    <meta name="author" content="Fuku Clothings">
    <link rel="icon" href="{% static 'images/favicon/1.png' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'images/favicon/1.png' %}" type="image/x-icon">
    <title>Fuku clothings</title>

    <!--Google font-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Yellowtail&display=swap" rel="stylesheet">

    <!-- Icons -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/vendors/font-awesome.css' %}">

    <!--Slick slider css-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/vendors/slick.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/vendors/slick-theme.css' %}">

    <!-- Animate icon -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/vendors/animate.css' %}">

    <!-- Themify icon -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/vendors/themify-icons.css' %}">

    <!-- Bootstrap css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/vendors/bootstrap.css' %}">

    <!-- Theme css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>


<body class="theme-color-1">


    <!-- header start -->
    {% include "header.html" %}
    <!-- header end -->


    <!-- breadcrumb start -->
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="page-title">
                        <h2>profile</h2>
                    </div>
                </div>
                <div class="col-sm-6">
                    <nav aria-label="breadcrumb" class="theme-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">profile</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb End -->

    <!-- tracking page start -->
    <section class="tracking-page section-b-space">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h3>status for order no: {{order.order_number}}</h3>
                    <div class="row border-part">
                        <div class="col-lg-7">
                            <div class="product-order">
                                {% for item in order_detail %}
                                <div class="row product-order-detail">
                                    <div class="col-3"><img src="{{item.product.image.url}}" alt=""
                                            class="img-fluid blur-up lazyload">
                                    </div>
                                    
                                    <div class="col-3 order_detail">
                                        <div>
                                            <h4>product name</h4>
                                            <h5>{{item.product.name}}</h5>
                                        </div>
                                    </div>
                                    <div class="col-3 order_detail">
                                        <div>
                                            <h4>quantity</h4>
                                            <h5>{{item.quantity}}</h5>
                                        </div>
                                    </div>
                                    <div class="col-3 order_detail">
                                        <div>
                                            <h4>price</h4>
                                            <h5>₹{{item.sub_total}}</h5>
                                        </div>
                                    </div>
                                </div>
                              {% endfor %}
        
                                
                                <div class="total-sec">
                                    <ul>
                                        <li>subtotal <span>₹{{subtotal}}</span></li>
                                        <li>shipping <span>₹50.00</span></li>
                                        <li>tax(GST) <span>₹{{order.tax}}</span></li>
                                    </ul>
                                </div>
                                <div class="final-total">
                                    <h3>total <span>₹{{order.order_total}}</span></h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="order-success-sec">
                                <div class="row">
                                    <div class="tracking-detail">
                                        <ul>
                                            <li>
                                                <div class="left">
                                                    <span>Order number</span>
                                                </div>
                                                <div class="right">
                                                    <span>{{order.order_number}}</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="left">
                                                    <span>Transaction ID</span>
                                                </div>
                                                <div class="right">
                                                    <span>{{order.payment.payment_id}}</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="left">
                                                    <span>Status</span>
                                                </div>
                                                <div class="right">
                                                    <span>{{order.payment.status}}</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="left">
                                                    <span>customer name</span>
                                                </div>
                                                <div class="right">
                                                    <span>{{order.full_name}}</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="left">
                                                    <span>order date</span>
                                                </div>
                                                <div class="right">
                                                    <span> {{order.order_created}}</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="left">
                                                    <span>Ship Date</span>
                                                </div>
                                                <div class="right">
                                                    <span>{{order.order_created}}</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="left">
                                                    <span>shipping address</span>
                                                </div>
                                                <div class="right">
                                                    <span>{{order.address}} <br>{{order.city}}<br>{{order.state}}, {{order.country}}</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="left">
                                                    <span>Payment Method</span>
                                                </div>
                                                <div class="right">
                                                    <span>Cash on delivery (COD).</span>
                                                </div>
                                            </li>
                                            {% comment %} <li>
                                                <div class="left">
                                                    <span>carrier</span>
                                                </div>
                                                <div class="right">
                                                    <span>FedEx</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="left">
                                                    <span>carrier tracking number</span>
                                                </div>
                                                <div class="right">
                                                    <span>656974541515484</span>
                                                </div>
                                            </li> {% endcomment %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="wrapper">
                        <div class="arrow-steps clearfix">
                            <div class="step done"> <span> order placed</span> </div>
                            <div class="step current"> <span>preparing to ship</span> </div>
                            <div class="step"><span> shipped</span> </div>
                            <div class="step"><span>delivered</span> </div>
                        </div>
                    </div>
                    <div class="order-table table-responsive-sm">
                        {% comment %} <table class="table mb-0 table-striped table-borderless">
                            <thead class="">
                                <tr>
                                    <th scope="col">Date</th>
                                    <th scope="col">Time</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Location</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>20 Nov 2020</td>
                                    <td>12.00 AM</td>
                                    <td>shipped</td>
                                    <td>california</td>
                                </tr>
                                <tr>
                                    <td>20 Nov 2020</td>
                                    <td>12.00 AM</td>
                                    <td>shipping info received</td>
                                    <td>california</td>
                                </tr>
                                <tr>
                                    <td>20 Nov 2020</td>
                                    <td>12.00 AM</td>
                                    <td>origin scan</td>
                                    <td>california</td>
                                </tr>
                                <tr>
                                    <td>20 Nov 2020</td>
                                    <td>12.00 AM</td>
                                    <td>shipping info received</td>
                                    <td>california</td>
                                </tr>
                            </tbody>
                        </table> {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- tracking page end -->


    <!-- footer -->
    {% include "components/footer.html" %}
    <!-- footer end -->



    <!-- theme setting -->

    <!-- theme setting -->


    <!-- tap to top -->
    <div class="tap-top">
        <div>
            <i class="fa fa-angle-double-up"></i>
        </div>
    </div>
    <!-- tap to top End -->


   <!-- latest jquery-->
   <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>

   
   <!-- slick js-->
   <script src="{% static 'js/slick.js' %}"></script>
   
   <!-- menu js-->
   <script src="{% static 'js/menu.js' %}"></script>
   
   <!-- lazyload js-->
   <script src="{% static 'js/lazysizes.min.js' %}"></script>
   
   <!-- Bootstrap js-->
   <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
   
   <!-- Bootstrap Notification js-->
   <script src="{% static 'js/bootstrap-notify.min.js' %}"></script>
   
   
   <!-- Theme js-->
   <script src="{% static 'js/theme-setting.js' %}"></script>
   <script src="{% static 'js/script.js' %}"></script>
   
   <script>
       $(window).on('load', function () {
           setTimeout(function () {
               $('#exampleModal').modal('show');
           }, 2500);
       });
   
       function openSearch() {
           document.getElementById("search-overlay").style.display = "block";
       }
   
       function closeSearch() {
           document.getElementById("search-overlay").style.display = "none";
       }
   </script>
   
   </body>
   
   </html>
   